
.custom-select-container {
    position: relative;  
    width: 100%;
}

.custom-select {
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s; 

}



.custom-select.open {
    border: 2px solid #1e1f20;
    box-shadow: 0 0 0 2px white, 0 0 0 5px #a0a1a3;
    transform: translateY(-1px);
}

.select-value {
    color: #333;
    font-size: 14px;
}

.select-arrow {
    width: 16px;
    height: 16px;
    color: #666;
}



.custom-options {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #dedddd;
    border-radius: 6px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px) scale(0.95);
    transition: all 0.2s ;
}

.custom-options.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scale(1);
}

.custom-option {
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    /* border-bottom: 1px solid #f5f5f5; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    border-radius: 4px;

    
}
.check-icon{
    height: 15px;
    width: 15px;
}
.option-icon{
    display: flex;
    align-items: center;
    justify-content: center;
     width: 20px; /* Fixed width to reserve space */
    height: 20px;
    /* padding: 0 10px 0 0; */
}


.custom-option:hover {
    background-color: #f1f1f1;
    
}

.custom-option:active {
    background-color: #e9ecef;
}

.custom-option:hover .check-icon{
    opacity: 1;
}




