.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 800px;
  max-height: 80vh;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  z-index: 1000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* position: relative; */
}

.modal-header h3 {
  margin: 0;
}

.subtext {
  color: #8e8e8e;
  font-size: 14px;
  margin-top: 6px;
}
.close-btn {
  position: absolute;
  background-color: white;
  border: none;
  font-size: 4px;
  cursor: pointer;
  color: #636060;
  margin: 0 0px 0 0;
  top: 10px;
  right: 16px;
}
.close-btn :hover {
  color: black;
}

.close-icon {
  height: 15px;
  width: 15px;
}

.modal-body {
  margin: 8px 0 0 0;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  margin: 15px 0 10px 0;
}


.form-group input,
.form-group textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #dedddd;
}

.form-group input:focus,
.form-group textarea:focus {
  border: 2px solid #1e1f20;
  box-shadow: 0 0 0 2px white, 0 0 0 5px #a0a1a3;
}

textarea {
  font-family: "Geist", sans-serif;
  
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}
.reference-box {
  border: 1px solid #ccc;
  padding: 16px;
  margin-top: 12px;
  border-radius: 6px;
  position: relative;
}
.reference-box h4 {
  font-weight: 500;
}

.remove-btn {
  position: absolute;
  right: 0;
  top: 10px;

  color: rgb(1, 1, 1);
  border: none;
  background-color: white;

  padding: 5px 8px;
  cursor: pointer;
}
.removeref-icon {
  height: 17px;
  width: 17px;
}

.add-btn {
  padding: 10px 10px 10px 10px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid rgb(222, 213, 213);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-icon {
  padding: 0px 15px 0 0;
  height: 16px !important;
  width: 16px  !important;
}


.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  padding-top: 16px;
  margin-top: 16px;
}

.modal-footer p {
  font-size: 14px;
  color: gray;
}
.btn {
  padding: 13px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}
.btn.cancel {
  display: flex;
  background-color: #ffffff;
  border: 1px solid rgb(230, 222, 222);
}

.btn.save {
  display: flex;
  background-color: #0a0a0a;
  color: white;
}

.btn.save:disabled {
  display: flex;
  background-color: #a3a3a3;
}
.save-icon {
  height: 16px;
  width: 16px;
  padding: 0px 10px 0 0;
}

.btn-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.edit-header {
  display: flex;
  align-items: center;
}

.edit-icon {
  padding: 0 10px 0 0;
}
